@charset "UTF-8";
/*!
Theme Name:           RT BS4 Child
Template:             rt-bs4
Theme URI:            https://www.renovas.co.jp/
Description:          RT BS4 の子テーマ
Author:               RENOVAS Creative Dept.
Author URI:           https://www.renovas.co.jp/
License:              GNU General Public License v2 or later
License URI:          http://www.gnu.org/licenses/gpl-2.0.html
Tags:                 blog
Text Domain:          rt-bs4-child
Bitbucket Theme URI:  https://bitbucket.org/renovas/rt-bs4-child
Bitbucket Branch:     master
License:              GNU General Public License v2 or later
License URI:          http://www.gnu.org/licenses/gpl-2.0.html
Version:              2018.05.17.0949
*/@font-face{font-family:"Yu Gothic";src:local("Yu Gothic Medium");font-weight:100}@font-face{font-family:"Yu Gothic";src:local("Yu Gothic Medium");font-weight:200}@font-face{font-family:"Yu Gothic";src:local("Yu Gothic Medium");font-weight:300}@font-face{font-family:"Yu Gothic";src:local("Yu Gothic Medium");font-weight:400}@font-face{font-family:"Yu Gothic";src:local("Yu Gothic Bold");font-weight:bold}@font-face{font-family:"Helvetica Neue";src:local("Helvetica Neue Regular");font-weight:100}@font-face{font-family:"Helvetica Neue";src:local("Helvetica Neue Regular");font-weight:200}@media (-ms-high-contrast:none){body,popover,tooltip{font-family:Verdana, Meiryo, sans-serif}}@font-face{font-family:"Yu Gothic";src:local("Yu Gothic Medium");font-weight:100}@font-face{font-family:"Yu Gothic";src:local("Yu Gothic Medium");font-weight:200}@font-face{font-family:"Yu Gothic";src:local("Yu Gothic Medium");font-weight:300}@font-face{font-family:"Yu Gothic";src:local("Yu Gothic Medium");font-weight:400}@font-face{font-family:"Yu Gothic";src:local("Yu Gothic Bold");font-weight:bold}@font-face{font-family:"Helvetica Neue";src:local("Helvetica Neue Regular");font-weight:100}@font-face{font-family:"Helvetica Neue";src:local("Helvetica Neue Regular");font-weight:200}@media (-ms-high-contrast:none){body,popover,tooltip{font-family:Verdana, Meiryo, sans-serif}}