// _bs.ustom.scss

/*--------------------------------------------------------------
# 変数
# from _variables.scss
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# スペース
--------------------------------------------------------------*/
$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 2),
  6: ($spacer * 3),
  7: ($spacer * 4),
  8: ($spacer * 5),
  9: ($spacer * 6)
) !default;


/*--------------------------------------------------------------
# オプション
#
# Quickly modify global styling by enabling or disabling optional features.
--------------------------------------------------------------*/
$enable-print-styles:       false;


/*--------------------------------------------------------------
# カラーシステム
--------------------------------------------------------------*/
$custom1:                   #000125; // カラー1：紺色
$custom2:                   #30439A; // カラー2：青色
$custom3:                   #FEE633; // カラー3：黄色
$custom4:                   #4D4D66; // カラー4：紫グレー
$custom5:                   #E6E6E6; // カラー5：ライトグレー
$theme-colors: (
  "custom1": $custom1,
  "custom2": $custom2,
  "custom3": $custom3,
  "custom4": $custom4,
  "custom5": $custom5
);


/*--------------------------------------------------------------
# Body
#
# Settings for the `<body>` element.
--------------------------------------------------------------*/
$body-bg:                   white;
$body-color:                $custom1;


/*--------------------------------------------------------------
# Links
#
# Style anchor elements.
--------------------------------------------------------------*/
$link-color:                $custom1;
$link-decoration:           none;
$link-hover-color:          darken($link-color, 15%);
$link-hover-decoration:     none;


/*--------------------------------------------------------------
# フォント
#
# Font, line-height, and color for body text, headings, and more.
--------------------------------------------------------------*/
// 游ゴシック優先
$font-family-sans-serif:     -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "Segoe UI", Roboto, Arial, "M+ 1p", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
// ヒラギノ角ゴ優先
//$font-family-sans-serif:   -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, "Segoe UI", Roboto, Arial, "M+ 1p", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
// 等幅フォント
$font-family-monospace:      "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
// セリフ（明朝）フォント
//$font-family-serif:        serif;
$font-family-base:           $font-family-sans-serif;

// Windows/Chrome環境で游ゴシックを見やすく
@font-face { font-family: "Yu Gothic"; src: local("Yu Gothic Medium"); font-weight: 100; }
@font-face { font-family: "Yu Gothic"; src: local("Yu Gothic Medium"); font-weight: 200; }
@font-face { font-family: "Yu Gothic"; src: local("Yu Gothic Medium"); font-weight: 300; }
@font-face { font-family: "Yu Gothic"; src: local("Yu Gothic Medium"); font-weight: 400; }
@font-face { font-family: "Yu Gothic"; src: local("Yu Gothic Bold"); font-weight: bold; }
@font-face { font-family: "Helvetica Neue"; src: local("Helvetica Neue Regular"); font-weight: 100; }
@font-face { font-family: "Helvetica Neue"; src: local("Helvetica Neue Regular"); font-weight: 200; }
// IE hack
@media all and (-ms-high-contrast: none) { body, tooltip, popover { font-family: Verdana, Meiryo, sans-serif; } }
