// _variable.scss

/*--------------------------------------------------------------
# サイト独自の変数
# Bootstrapの変数の上書きは_bs.custom.scssで行ってください
--------------------------------------------------------------*/

// ミックスイン

// パス
// .eg { background-image: url({$IMG_PATH}/image.png); }
$THEME_NAME:          'rt-bs4-child';

// サイズ
// .eg { font-size: $size-xlarge + rem; }
$size-root:           16;
$size-step-up:        1.25;
$size-step-down:      0.85;
$size-medium:         1;
$size-large:          $size-medium * $size-step-up;
$size-small:          $size-medium * $size-step-down;
$size-xlarge:         $size-large * $size-step-up;
$size-xsmall:         $size-small * $size-step-down;
$size-xxlarge:        $size-xlarge * $size-step-up;
$size-xxsmall:        $size-xsmall * $size-step-down;


// カラー
$color-main:          $custom1;
$color-main-light:    lighten($custom1, 15%);
$color-main-dark:     darken($custom1, 15%);
$color-sub:           $custom2;
$color-sub-light:     lighten($custom2, 15%);
$color-sub-dark:      darken($custom2, 15%);
$color-accent:        $custom3;
$color-accent-light:  lighten($custom3, 15%);
$color-accent-dark:   darken($custom3, 15%);
$color-grey:          #000;
$color-grey-light:    lighten($color-grey, 15%);
$color-grey-dark:     darken($color-grey, 15%);
$color-white:         white;
$color-black:         black;
$color-line:          $color-grey-light;
